.photo-grid {
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    padding: 0 48px;
  }
}

@media screen and (max-width: 896px) {
  .photo-grid {
    padding: 0 24px;
  }
}

@media screen and (max-width: 574px) {
  .photo-grid {
    padding: 0 16px;
  }
}
