.header__logo {
  width: 176px;
  height: 52px;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  -o-transition: 0.3s transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

.header__logo:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

@media screen and (max-width: 720px) {
  .header__logo {
    width: 151px;
    height: 45px;
  }
}
