.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 720px) {
  .footer__list {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  .footer__list {
    display: block;
    margin-bottom: 48px;
  }
}
